html, body {
    background-color: #dde7ef;
}

/*头部*/
body {
    padding-top: 60px;
}

.container-fluid {
    margin-top: 6px;
}

.main_content {
    display: -moz-box;
    display: -webkit-box;
    display: box;
}

.navbar-bgc {
    background-color: #2F536D;
}
.navbar-bgc li a{
    color:#ccc!important;
}

/*左边导航*/
.left_nav {
    width: 220px;
    height: 850px;
    background: #5d7f93;
    margin-left: 5px;
    margin-right: 5px;
    border: 4px solid #2b638c;
    border-radius: 5px;
}

.left_nav #accordion .myPanel {
    border: 0;
    margin-top: 0;
    background-color: #5d7f93;
}

.left_nav .primary-menu {
    height: 35px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
}

.left_nav .primary-menu img {
    padding-top: 12px;
    padding-bottom: 11px;
    display: inline-block;
}

.left_nav .primary-menu h4 {
    display: inline-block;
    font-size: 14px;
}

.left_nav .primary-menu a {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 145px;
    display: inline-block;
    padding-left: 20px;
}

.left_nav .subMenu {
    background-color: #cce0eb;
}

.left_nav #accordion .subMenu .panel-body {
    padding: 0;
    border-top-color: #FFF;
}

.left_nav .subMenu ul li {
    list-style: none;
    color: #5d7f93;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
}

.left_nav .subMenu ul li.activeStyle {
    background: url(../img/arrow03.png) center right no-repeat;
    color: #02314d;
}

.left_nav .NavToggle {
    width: 220px;
    height: 24px;
    position: relative;
    background: url(../img/line01.png);
}

.left_nav .NavToggle .btnToggle {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -12px;
}


.right-content {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    box-shadow: 4px 4px #4f7a9b inset;
    padding: 0 15px 0 12px;
    background-color: #dde7ef;
    border-top-left-radius: 5px;
    overflow: auto;
}


@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.left_nav .drop-down {
    background: #cce0eb;
}

.left_nav .drop-down a {
    background: url('../img/arrow02.png') no-repeat center right;
    color: #5d7f93;
}

.left_nav .close-up {
    background: url('../img/bg01.png');
}

.left_nav .close-up a {
    background: url('../img/arrow01.png') no-repeat center right;
    color: #FFF;
}

.loading {
    padding-left: 19px;
    width: 120px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 0 0 -50px;
    color: #3e8f3e;
    z-index: 1100;
    background: url("../img/loading.gif") no-repeat left center;
}