/*样式初始化----------BEG----------*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

body, button, input, select, textarea {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}

h1, h2, h3, h4, h5, h6, button, input, select, textarea {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0;
}

/*登录----------BEG----------*/
html, body {
    height: 100%;
}

body {
    position: relative;
    background: rgb(33, 33, 33) center;
    background-size: cover;
    color: #ccc;
    font: 12px/1.5 Arial, 'Droid Sans', 'Hiragino Sans GB', 'Microsoft YaHei';
}

a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
 a:hover {
text-decoration: none;
} 
a:active {
text-decoration: none;
}

.layout {
    z-index: 1000;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(10, 10, 10, 0.15);
}

.footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    height: 40px;;
    background-color: rgba(10, 10, 10, 0.15);
}

.login-main {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 380px;
    margin-left: -190px
}

.login-body {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.6);
    padding: 20px 40px 60px 40px;
    position: relative;
}

.login-form {
    margin-bottom: 20px
}

.login-form input {
    display: block;
    margin: 0;
    outline: none;
    width: 300px;
    padding: 11px 10px 11px 13px;
    border: 1px solid #FFFFFF;
    border-bottom: 1px solid rgb(227, 227, 227);
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.95);
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.top-radius {
    border-radius: 2px 2px 0 0;
}

.bottom-radius {
    border-radius: 0 0 2px 2px;
}

.all-radius {
    border-radius: 2px 2px 2px 2px;
}

.login-form-bt1 {
    font-size: 13px;
    font-weight: 500;
    line-height: 38px;
    background-color: rgb(70, 175, 95);
    background-color: rgba(70, 175, 95, 0.9);
    color: #fff;
    border-radius: 2px;
    width: 300px;
    height: 38px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-form-bt1:focus, .login-form-bt1:hover {
    background-color: rgb(90, 225, 125);
    background-color: rgba(90, 225, 125, 0.9);
}

.login-form-bt2 {
    font-size: 13px;
    font-weight: 500;
    line-height: 38px;
    background-color: rgb(41, 119, 186);
    background-color: rgba(41, 119, 186, 0.9);
    color: #fff;
    border-radius: 2px;
    width: 300px;
    height: 38px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.login-form-bt2:focus, .login-form-bt2:hover {
    background-color: rgb(61, 139, 226);
    background-color: rgba(61, 139, 226, 0.9);
}

.login-form-wd1 {
    margin-top: 20px;
    text-align: left;
}

.login-form-wd1 a {
    margin-left: 3px;
    margin-top: 20px;
    color: #ccc;
    font-size: 12px;
}

.login-form-wd2 {
    margin-top: 20px;
    text-align: right;
}

.login-form-wd2 a {
    margin-right: 3px;
    margin-top: 20px;
    color: #ccc;
    font-size: 12px;
}

.login-form-err {
    margin-bottom: 5px;
    color: #ec3627;
}

/*注册----------BEG----------*/
.register-title {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #ccc;
    font-size: 14px;
    font-weight: 600;
}

.login-form-label {
    height: 37px;
    line-height: 37px;
    padding-left: 5px;
    text-align: left;
}

/*忘记----------BEG----------*/
.login-form-box {
    margin-top: 20px;
    color: #FFFFFF;
}